<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content='Find Anything on Instagram'>
  <meta name="author" content="Neil Patel">
  <title>FindInsta - Type. Click. Done.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= yield %>

<%= render 'layouts/footer' %>


</body>
</html>
